<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #6f42c1;
            text-shadow: #4f5050;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.updateItem}">상품 수정 폼</h2>
    </div>


    <form th:action th:object="${item}" action="item.html" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each=" err :${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <div>
            <label for="id" th:text="#{label.item.id}">상품 ID</label>
            <input type="text" class="form-control" th:field="*{id}" readonly>
        </div>
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <input type="text" class="form-control" th:errorclass="field-error" th:field="*{itemName}">
            <div class="field-error" th:errors="*{itemName}"></div>
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <input type="text" class="form-control" th:errorclass="field-error" th:field="*{price}">
            <div class="field-error" th:errors="*{price}"></div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <input type="text" class="form-control"th:errorclass="field-error"  th:field="*{quantity}">
            <div class="field-error" th:errors="*{quantity}"></div>
        </div>
        <hr class="my-4">
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}"
                       class="form-check-input">
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <div>
            <div>상품 타입</div>
            <div th:each="type : ${itemType}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}"
                       th:text="${type.description}" class="form-check-label">bkbk</label>
            </div>
        </div>

        <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select-sm">
                <option value="">배송방식 선택쓰</option>
                <option th:each=" delivery :${deliveryCodes}" th:value="${delivery.code}" th:text="${delivery.displayName}"></option>
            </select>
        </div>


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/validation/v4/items/{itemId}(itemId=${item.id})}'|"
                        onclick="location.href='item.html'" type="button" th:text="#{button.cancle}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>